<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
  
      <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="assets/img/Juant.png" alt="">
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div><!-- End Logo -->
  
  
  
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
  
  
          
  
          <li class="nav-item dropdown pe-3">
  
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src="assets/img/A5C9D517-C24E-42BA-9793-914488CDDC05.jpeg" alt="Profile" class="rounded-circle">
              <span class="d-none d-md-block dropdown-toggle ps-2">Yasser Farghal</span>
            </a><!-- End Profile Iamge Icon -->
  
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6>Yasser Farghal</h6>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li>
                <a class="dropdown-item d-flex align-items-center" href="">
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-box-arrow-left"></i>
                  <span>Log Out</span>
                </a>
              </li>
  
            </ul><!-- End Profile Dropdown Items -->
          </li><!-- End Profile Nav -->
  
        </ul>
      </nav><!-- End Icons Navigation -->
  
    </header><!-- End Header -->
  
     <!-- ======= Sidebar ======= -->
     <aside id="sidebar" class="sidebar">
  
  <ul class="sidebar-nav" id="sidebar-nav">
  
    <li class="nav-item">
      <a class="nav-link collapsed" href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->
  
  
  
  
  
  
    <li class="nav-item">
      <a class="nav-link collapsed" href="users-profile.html">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->
  
    <li class="nav-item">
      <a class="nav-link collapsed" href="chooseSearchBookingWay.html">
        <i class="bi bi-ticket"></i>
        <span>Bookings</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->
  
    <li class="nav-item">
      <a class="nav-link collapsed" href="Places.html">
        <i class="bi bi-building"></i>
        <span>Places</span>
      </a>
    </li><!-- End Contact Page Nav -->
  
    <li class="nav-item">
      <a class="nav-link" href="pages-contact.html">
        <i class="bi bi-telephone"></i>
        <span>Contact Us</span>
      </a>
    </li><!-- End Contact Page Nav -->
  
    <li class="nav-item">
      <a class="nav-link collapsed" href="">
        <i class="bi bi-box-arrow-left"></i>
        <span>Logout</span>
      </a>
    </li><!-- End Blank Page Nav -->
  </ul>
  
  </aside><!-- End Sidebar-->
  
    <main id="main" class="main">
  
      <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
  
      <section class="section contact">
        <div class="row">
  
          
          <!-- Left side columns -->
          <div class="col-lg-6">
            <div class="row">
  
  
  
  
  
              
              
              <!-- Sales Card -->
              <div class="col-xxl-6 col-md-6 mb-3">
                <div class="card info-card sales-card justify-content-center text-center">
  
  
                  <div class="card-body my-4 justify-content-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-telephone"></i>
                    </div>
                    <h5 class="card-title">Phone</h5>
  
                    <div class="d-flex justify-content-center">
                      <div class="">
                        <h6>01553355555</h6>
                        <h6>01553355455</h6>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Sales Card -->
              <!-- Sales Card -->
              <div class="col-xxl-6 col-md-6 mb-3">
                <div class="card info-card sales-card justify-content-center text-center">
  
  
                  <div class="card-body my-4 justify-content-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-envelope"></i>
                    </div>
                    <h5 class="card-title">E-mail</h5>
  
                    <div class="d-flex justify-content-center">
                      <div class="">
                        <h6>example@mail.com</h6>
                        <h6>example@mail.com</h6>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Sales Card -->
  
              <!-- Sales Card -->
              <div class="col-xxl-6 col-md-6 mb-3">
                <div class="card info-card sales-card justify-content-center text-center">
  
  
                  <div class="card-body my-4 justify-content-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-geo-alt"></i>
                    </div>
                    <h5 class="card-title">Address</h5>
  
                    <div class="d-flex justify-content-center">
                      <div class="">
                        <h6><a href="">El-Sheikh Zayed</a></h6>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Sales Card -->
  
              <!-- Sales Card -->
              <div class="col-xxl-6 col-md-6 mb-3">
                <div class="card info-card sales-card justify-content-center text-center">
  
  
                  <div class="card-body my-4 justify-content-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-clock"></i>
                    </div>
                    <h5 class="card-title">Open Hours</h5>
  
                    <div class="d-flex justify-content-center">
                      <div class="">
                        <h6>Sunday - Friday</h6>
                        <span>9:00 - 4:00</span>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Sales Card -->
  
            </div>
          </div><!-- End Left side columns -->
  
          <!-- Right side columns -->
          <div class="col-lg-6">
  
  
  
            <!-- booking Traffic -->
            <div class="card">
  
  
              <div class="card-body ">
                <h5 class="card-title text-center">Send A Message to Us</h5>
  
                <div class="news">
                  <div class="row g-2">
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="Username" value="Your Name">
                        <label for="floatingInputGrid">Full-name</label>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="example@mail.com">
                        <label for="floatingInputGrid">Email address</label>
                      </div>
                    </div>
                    <form class="form-floating">
                      <input type="text" class="form-control" id="floatingInputValue" placeholder="Subject" value="Subject">
                      <label for="floatingInputValue">Enter Subject</label>
                    </form>
  
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                      <label for="floatingTextarea2">Comments</label>
                    </div>
  
                    <button  class="getStarted mt-4 ms-auto" type="submit" id="submit">SEND</button>
  
                </div><!-- End sidebar recent posts-->
  
              </div>
            </div><!-- End News & Updates -->
          </div><!-- End Right side columns -->
  
        </div>
      </section>
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Juant</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">Juant</a>
      </div>
    </footer><!-- End Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
  
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  
  </body>