<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>SaaSpal - SaaS and Software Landing Page Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/img/favicon.png"
    />
    <!-- Place favicon.ico in the root directory -->

    <!-- ======== CSS here ======== -->
  
        <!--====== Favicon Icon ======-->
        <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png">

        <!--====== Bootstrap css ======-->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    
        <!--====== Line Icons css ======-->
        <link rel="stylesheet" href="/assets/css/LineIcons.css">
    
        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    
        <!--====== Slick css ======-->
        <link rel="stylesheet" href="/assets/css/slick.css">
    
        <!--====== Animate css ======-->
        <link rel="stylesheet" href="/assets/css/animate.css">
    
        <!--====== Default css ======-->
        <link rel="stylesheet" href="/assets/css/default.css">
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- ======== preloader start ======== -->
    <div class="preloader">
      <div class="loader">
        <div class="spinner">
          <div class="spinner-container">
            <div class="spinner-rotator">
              <div class="spinner-left">
                <div class="spinner-circle"></div>
              </div>
              <div class="spinner-right">
                <div class="spinner-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- preloader end -->

    <!-- ======== header start ======== -->
    <header class="header">
      <div class="navbar-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                

                <a class="navbar-brand" href="../landing_page_app/landingPageApplication/index.html">
                  <img src="/assets/img/logo/Juant.png" alt="logo">
                </a>


                <button 
                class="navbar-toggler"
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#main" 
                aria-controls="main" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
                </button>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                <i class="lni lni-line-double"></i>
                </button>

                <div
                  class="collapse navbar-collapse sub-menu-bar"
                  id="navbarSupportedContent"
                >

                  <ul id="nav" class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link page-scroll p-2 p-lg-3" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link page-scroll p-2 p-lg-3" href="#howToUse">How To Use</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link page-scroll p-2 p-lg-3" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                      <a href="#contact" class="nav-link p-2 p-lg-3">Contact Us</a>
                    </li>
                    <li class="nav-item">
                      <a href="javascript:void(0) p-2 p-lg-3" class="nav-link p-2 p-lg-3">Help</a>
                    </li>
                    <a href="/admin/auth/sign-in" class="btn p-2 p-lg-3 btn-primary shadow main-btn ms-2">SIGN IN</a>
                  </ul>
                </div>
                <!-- navbar collapse -->
              </nav>
              <!-- navbar -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- navbar area -->
    </header>
    <!-- ======== header end ======== -->

    <!-- ======== hero-section start ======== -->
    <section id="home" class="hero-section">
      <div class="container">
        <div class="row align-items-center position-relative">
          <div class="col-lg-6">
            <div class="hero-content">
              <h1 class="wow fadeInUp" data-wow-delay=".4s">
                List your place in just 
                a few clicks.
              </h1>
              <p class="wow fadeInUp" data-wow-delay=".6s">
                Join Juant and get access to thousands of users worldwide.
              </p>
              <a
                href="../signUpPage/sign_up.html"
                class="main-btn border-btn btn-hover wow fadeInUp"
                data-wow-delay=".6s"
                >Get started</a
              >
              <a class="scroll-bottom">
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
              <img src="/assets/img/hero/landing_page_for_host.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======== hero-section end ======== -->

    <!-- ======== feature-section start ======== -->
    <section id="features" class="feature-section ">
      <div class="container">
        <div class="row justify-content-center">
              <div class="text-center main-title mt-5 mb-5">
                <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
                  Increase your Utilisations
                  <br> with <span>Juant</span>
                </h2>
              </div>
          <div class="col-lg-3 col-md-8 col-sm-10">
            
            <div class="single-feature">
              <div class="icon">
                <img src="/assets/img/hero/Rectangle 3.svg" class="card-img-top" alt="...">
              </div>
              <div class="content">
                <h3>Control</h3>
                <p>
                  On Juant, you have full control over your listings, the prices and the ability to accept bookings.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-10">
            <div class="single-feature">
              <div class="icon">
                <img src="/assets/img/hero/Rectangle 2.svg" class="card-img-top" alt="...">
              </div>
              <div class="content">
                <h3>Traction</h3>
                <p>
                  With Juant’s in-app search and filters, customers will find your place in seconds.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-8 col-sm-10">
            <div class="single-feature">
              <div class="icon">
                <img src="/assets/img/hero/Rectangle 4.svg" class="card-img-top" alt="...">
              </div>
              <div class="content">
                <h3>Bookings</h3>
                <p>
                  Customers interested in your place select the place and timings, and place a request in just few clicks!
                </p>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-8 col-sm-10">
            <div class="single-feature">
              <div class="icon">
                <img src="/assets/img/hero/Rectangle 5.svg" class="card-img-top" alt="...">
              </div>
              <div class="content">
                <h3>Support</h3>
                <p>
                  You are instantly assigned an account manager to assist you managing your listings & bookings.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======== feature-section end ======== -->

       <!-- ======== about2-section start ======== -->
       <section id="howToUse" class="about-section pt-100 pb-100">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
              <div class="about-content">
                
                
                <div class="section-title mb-30">
                  <h2 class="mb-2 wow fadeInUp" data-wow-delay=".2s">
                    Sign up today and start receiving bookings!
                  </h2>
                </div>
                <div class="buttons mt-1 mb-4">
                  <a href="javascript:void(0)" data-wow-delay=".6s">
                    <img src="/assets/img/hero/app_store_icon.svg" alt="">
                  </a>
                  <a href="javascript:void(0)" class="ms-2" data-wow-delay=".6s">
                    <img src="/assets/img/hero/google_play_store_icon.svg" alt="">
                  </a>
                </div>
                <ul>
                  <div _ngcontent-serverapp-c5="" class="content bounce-in">
                    <h6 _ngcontent-serverapp-c5="">JOIN</h6>
                    <p _ngcontent-serverapp-c5="">Sign up in a matter of seconds on Juant Join now For free</p>
                  </div>
                  <div _ngcontent-serverapp-c5="" class="content bounce-in">
                    <h6 _ngcontent-serverapp-c5="">ADD</h6>
                    <p _ngcontent-serverapp-c5="">Add your place(s) & list all information including amenities, images & pricing.</p>
                  </div>
                  <div _ngcontent-serverapp-c5="" class="content bounce-in">
                    <h6 _ngcontent-serverapp-c5="">REVIEW & APPROVE</h6>
                    <p _ngcontent-serverapp-c5="">Once the listing is approved, your listing is visible & marketed on Juant.</p>
                  </div>
                  <div _ngcontent-serverapp-c5="" class="content bounce-in">
                    <h6 _ngcontent-serverapp-c5="">BOOKINGS</h6>
                    <p _ngcontent-serverapp-c5="">And in no time you will start receiving bookings.</p>
                  </div>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 order-first order-lg-last">
              <div class="about-img-2">
                <img src="/assets/img/about/landing_page_for_host2.png" alt="" class="w-100" />
                <img
                  src="/assets/img/about/about-right-shape 1.svg"
                  alt=""
                  class="shape shape-1"
                />
                <img
                  src="/assets/img/about/right-dots 1.svg"
                  alt=""
                  class="shape shape-2"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ======== about2-section end ======== -->

    <!-- ======== services-section start ======== -->
    <section id="services" class="feature-extended-section pt-100">
      <div class="feature-extended-wrapper">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-9">
              <div class="text-center main-title mt-5 mb-5">
                <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
                  Manage your place easily
                  with <span>Juant.</span>
                </h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="single-feature-extended">
                <div class="icon">
                  <i class="lni lni-badge-ad"></i>
                </div>
                <div class="content">
                  <h3>Make Ads</h3>
                  <p>
                    Secure card payments available using the global Stripe payment gateway.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature-extended">
                <div class="icon">
                  <i class="lni lni-ticket"></i>
                </div>
                <div class="content">
                  <h3>Booking requests</h3>
                  <p>
                    Requests are directly send to your email and as a notification on the app. You can accept the request if your place is available.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature-extended">
                <div class="icon">
                  <i class="lni lni-cog"></i>
                </div>
                <div class="content">
                  <h3>Booking Confirmation</h3>
                  <p>
                    Requests are directly sent to your email and as a notification on the app. You can accept the request if your space is available.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    
  <!-- ======== services-section end ======== -->

  <!-- ======== services-fees-section start ======== -->

    <section class="about-area">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-8">
                <div class="text-center main-title mb-5">
                  <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
                    <span>Zero</span> setup fees
                  </h2>
                </div>
              </div>
          </div> <!-- row -->
          
          <div class="row">
              <div class="col-lg-4">
                  <div class="single-about d-sm-flex wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                      <div class="about-icon mt-2">
                        <i class="lni lni-checkmark-circle"></i>
                      </div>
                      <div class="about-content media-body">
                          <h4 class="text">
                            Signing up on our platform 
                            is <br> completely FREE.
                          </h4>
                      </div>
                  </div> <!-- single about -->
              </div>
              <div class="col-lg-4">
                  <div class="single-about d-sm-flex wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.4s">
                    <div class="about-icon mt-2">
                      <i class="lni lni-checkmark-circle"></i>
                    </div>
                      <div class="about-content media-body ">
                          <h4 class="text">
                            There is No subscription or hidden fees
                          </h4>
                      </div>
                  </div> <!-- single about -->
              </div>

              <div class="col-lg-4">
                <div class="single-about d-sm-flex wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.4s">
                  <div class="about-icon mt-2 me-2">
                    <i class="lni lni-checkmark-circle"></i>
                  </div>
                    <div class="about-content media-body ms-0">
                        <h4 class="text">
                          We only take a 10% commission 
                          on bookings transactions
                        </h4>
                    </div>
                </div> <!-- single about -->
            </div>

          </div> <!-- row -->
      </div> <!-- container -->
  </section>

  <!--====== services-fees-section ENDS ======-->


    <!-- ======== subscribe-section start ======== -->
    <section id="contact" class="subscribe-section pt-120">
      <div class="container">
        <div class="subscribe-wrapper img-bg">
          <div class="row align-items-center">
            <div class="col-xl-6 col-lg-7">
              <div class="section-title mb-15">
                <h2>Join To <span>Juant </span>Now</h2>
                <p class="pr-5">
                  Don't waste more time and sign up now <br> free and get business start 
                </p>
              </div>
            </div>
            <div class="col-xl-6 col-lg-5">



              <form class="subscribe-form" id="form">
                <input type="text" name="email" id="email" placeholder="Your Email" class="form-control"/>
                <i class="fas fa-exclamation-circle failure-icon"></i>
                <i class="far fa-check-circle success-icon"></i>
                <div class="error"></div>
                <button type="submit" class="main-btn btn-hover" id="submit">
                  <a href="../signUpPage/sign_up.html">LETS STARTED</a>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======== subscribe-section end ======== -->

     <!-- ======== footer start ======== -->
     <footer class="footer">
      <div class="container">
        <div class="widget-wrapper">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="footer-widget">
                <div class="logo mb-30">
                  <a href="index.html">
                    <img src="/assets/img/logo/Juant.png" alt="" />
                  </a>
                </div>
                <p class="desc mb-30">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  dinonumy eirmod tempor invidunt.
                </p>
                <ul class="socials">
                  <li>
                    <a href="jvascript:void(0)">
                      <i class="lni lni-facebook-filled"></i>
                    </a>
                  </li>
                  <li>
                    <a href="jvascript:void(0)">
                      <i class="lni lni-twitter-filled"></i>
                    </a>
                  </li>
                  <li>
                    <a href="jvascript:void(0)">
                      <i class="lni lni-instagram-filled"></i>
                    </a>
                  </li>
                  <li>
                    <a href="jvascript:void(0)">
                      <i class="lni lni-linkedin-original"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 text-left">
              <div class="footer-widget">
                <h3 class="ms-4 mb-3">About Us</h3>
                <ul class="links">
                  <li><a href="../landing_page_app/landingPageApplication/index.html">Home</a></li>
                  <li><a href="../landing_page_owner/index.html">Become Host</a></li>
                </ul>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="footer-widget">
                <h3 class="ms-4 mb-3">Help</h3>
                <ul class="links">
                  <li><a href="javascript:void(0)">FAQ</a></li>
                  <li><a href="javascript:void(0)">Privacy policy</a></li>
                  <li><a href="javascript:void(0)">Terms of service</a></li>
                </ul>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="footer-widget">
                <h3 class="ms-4 mb-3">Download</h3>
                <ul class="links">
                  <li class="mb-3"><a href="jvascript:void(0)"><img src="/assets/img/hero/app_store_icon.svg" alt="" ></a></li>
                  <li><a href="jvascript:void(0)"><img src="/assets/img/hero/google_play_store_icon.svg" alt="" ></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- ======== footer end ======== -->
    <!-- ======== scroll-top ======== -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ======== JS here ======== -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
      let id = (id) => document.getElementById(id);

let classes = (classes) => document.getElementsByClassName(classes);

let email = id("email"),
form = id("form"),
errorMsg = classes("error"),
successIcon = classes("success-icon"),
failureIcon = classes("failure-icon");


// Adding the submit event Listener

form.addEventListener("submit", (e) => {
  e.preventDefault();
  validemail(email, 2);
});

// engine function which will do all the works


let validemail = (email, serial) =>{
  var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
  if (email.value.trim() === "") {
    errorMsg[serial].innerHTML = "e-mail cannot be blank";
    email.style.border = "2px solid red";
  // icons
  failureIcon[serial].style.opacity = "1";
  successIcon[serial].style.opacity = "0";
  }
  else{
    errorMsg[serial].innerHTML = "";
    // icons
    failureIcon[serial].style.opacity = "0";
    if (email.value.match(validRegex)){
      errorMsg[serial].innerHTML = "";
      // icons
      failureIcon[serial].style.opacity = "0";
    }   
    else{
      errorMsg[serial].innerHTML = "please enter a valid email";
      email.style.border = "2px solid red";
      // icons
      failureIcon[serial].style.opacity = "1";
      successIcon[serial].style.opacity = "0";
    }
  }
}
    </script>
  </body>
</html>
