<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Juant - Hosts</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="../landingPageApplication/index.html" class="logo d-flex align-items-center">
        <img src="/assets/img/Juant.png" alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Companies</a></li>
          <li><a class="nav-link scrollto" href="#values">Features</a></li>
          <li><a class="nav-link scrollto" href="#features">How to use</a></li>
          <li><a class="nav-link scrollto" href="#team">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

          <li><a class="getstarted scrollto" href="/admin/auth/sign-in">SIGN IN</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">List your place in just a few clicks.</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Join Juant and get access to thousands of users and maage easily your company branches.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="../SignUpPage/signUp.html" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Lets Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col text-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <div class="title">
                <h2 class="">
                  <span><%=OwnerCount%>+</span> Different Companies <br> around 
                  egypt
                </h2>
              </div>

            </div>
          </div>



        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <div class="title">
            <h2 class="">
              Increase your Utilisations <br>
              with
              <span>Juant</span>
            </h2>
          </div>
        </header>

        <div class="row">

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="/assets/img/hero/Rectangle 3.svg" class="img-fluid" alt="">
              <h3>Control</h3>
              <p>On Juant, you have full control over your listings, the prices and the ability to accept bookings.</p>
            </div>
          </div>

          <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="/assets/img/hero/Rectangle 2.svg" class="img-fluid" alt="">
              <h3>Traction</h3>
              <p>Repudiandae amet nihil natus in distinctio suscipit id. Doloremque ducimus ea sit non.</p>
            </div>
          </div>

          <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="/assets/img/hero/Rectangle 4.svg" class="img-fluid" alt="">
              <h3>Bookings</h3>
              <p>Quam rem vitae est autem molestias explicabo debitis sint. Vero aliquid quidem commodi.</p>
            </div>
          </div>

          <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="/assets/img/hero/Rectangle 5.svg" class="img-fluid" alt="">
              <h3>Support</h3>
              <p>Quam rem vitae est autem molestias explicabo debitis sint. Vero aliquid quidem commodi.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <div class="title">
            <h2 class="">
              Manage your Company easily <br> with
              <span>Juant</span>
            </h2>
          </div>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="/assets/img/6316.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-person-badge"></i>
                  <h3>Add Branches Managers</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-buildings"></i>
                  <h3>Add Company Branches</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-ticket"></i>
                  <h3>Manage Branches Requests</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-clipboard2-data"></i>
                  <h3>Reviews From Clients</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-clipboard2-plus"></i>
                  <h3>Rating Clients</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->

        <!-- Feature Tabs -->
        <div id="usingOwner" class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-6">
            <h3>Owner Usage Way:</h3>







              <div class="feture-tabs mt-3">
                <div>
                  <h6><i class="bi bi-box-arrow-right"></i> Sign Up</h6>
                  <p>Create your Host account and add your company easily</p>
                </div>
                <div>
                  <h6><i class="bi bi-person-add"></i> Managers</h6>
                  <p>Add and edit Managers that manage your company branches whith some data of them</p>
                </div>
                <div>
                  <h6><i class="bi bi-building-add"></i> Branches</h6>
                  <p>Add and edit your Company Branches and reach to more and more of clients </p>
                </div>
                <div>
                  <h6><i class="bi bi-file-bar-graph"></i> Reviews</h6>
                  <p>Recieve reviews and feedbacks from both the Clients and your Branches Managers</p>
                </div>

              </div><!-- End Tab 1 Content -->



          </div>

          <div class="col-lg-6">
            <img src="/assets/img/Owner_Dashboard 2.jpg" class="img-fluid" alt="">
          </div>

        </div><!-- End Feature Tabs -->

        <!-- Feature Icons -->
        <div id="usingManager" class="row feature-icons" data-aos="fade-up">

          <div class="row">

            <div class="col-lg-6 mb-3 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="/assets/img/Manager_dashBoard 2.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 d-flex content">
              <div class="row align-self-center gy-4">
                <h3 class="mt-3">Manager Usage Way:</h3>

                <div class=" mt-3">
                  <div>
                    <h6><i class="bi bi-box-arrow-right"></i> Sign In</h6>
                    <p>Sign in to Your branche account that given from the company owner</p>
                  </div>
                  <div>
                    <h6><i class="bi bi-ticket"></i> Branch Requests</h6>
                    <p>Control Branch Requests and the branch capacity to grow up the Business</p>
                  </div>
                  <div>
                    <h6><i class="bi bi-file-bar-graph"></i> See Reviews</h6>
                    <p>Recieve Rating and reviews from our clients to your branche</p>
                  </div>
                  <div>
                    <h6><i class="bi bi-pencil-square"></i> Write Feedbacks</h6>
                    <p>Write feedbacks and about the users and their behaviors and gives them rateing</p>
                  </div>
  
                </div><!-- End Tab 1 Content -->

              </div>
            </div>

          </div>

        </div><!-- End Feature Icons -->

      </div>

    </section><!-- End Features Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <div class="title">
            <h2 class="">
              <span>Zero</span> setup fees
              
            </h2>
          </div>
        </header>

        <div class="row gy-4" data-aos="fade-left">

          <div class="col" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <i class="bi bi-check-circle"></i>
              <p>
                Signing up on our platform is
                completely FREE.
              </p>
            </div>
          </div>

          <div class="col" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <i class="bi bi-check-circle"></i>
              <p>
                There is No subscription or hidden fees inside website
              </p>
            </div>
          </div>

          <div class="col" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <i class="bi bi-check-circle"></i>
              <p>
                We only take a 10% commission on bookings transactions
              </p>
            </div>
          </div>



        </div>

      </div>

    </section><!-- End Pricing Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2 >
            Meet <span>Juant</span> Team
          </h2>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="/assets/img/team/IMG_6177.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100002999904483&mibextid=LQQJ4d"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/yas__ser.f/?hl=en"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/yasser-farghal-75b310195"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Yasser Farghal</h4>
                <span>Front-End Developer</span>
                <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="/assets/img/team/IMG_9848 2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/wafa.mohamed.1865?mibextid=LQQJ4d"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/wafa__m13?igshid=MzRlODBiNWFlZA=="><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/wafa-mohamed-140ab6241"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Wafa Mohammed</h4>
                <span>Flutter Developer</span>
                <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="/assets/img/team/IMG_9853.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/BeshOoyN.Elia?mibextid=LQQJ4d"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/beshoonze?igshid=NTc4MTIwNjQ2YQ=="><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Beshoy Nasry</h4>
                <span>Back-End Developer</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="/assets/img/team/A5C9D517-C24E-42BA-9793-914488CDDC05.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Marehan Reda</h4>
                <span>Back-End Developer</span>
                <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2 >
            Contact with <span>Juant</span>
          </h2>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p><a href=""> El-Sheikh Zayed,</a></p>
                  <p><a href=""> EL-Zamalek</a></p>

                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@example.com<br>contact@example.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Lets Make Business Start  
              Now And Make Your Company So Popular With <span>Jaunt</span> </h4>

          </div>
          <div class="col-lg-6">
            <div class="text-center ">
              <a href="../SignUpPage/signUp.html" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Lets Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="/assets/img/Juant.png" alt="">
            </a>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Companies</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Features</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">How to use</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Help</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">F.A.Q</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy Policy</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              <a href="">
                El-Sheikh Zayed, <br>
                Zayed 2000 Gate, 535022<br>
                United States <br><br>
              </a>

              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Juant</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="https://bootstrapmade.com/">Yasser Farghal</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>