<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Juant</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img"
    />
    <!-- Place favicon.ico in the root directory -->

    <!-- ======== CSS here ======== -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/lineicons.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- ======== preloader start ======== -->
    <div class="preloader">
      <div class="loader">
        <div class="spinner">
          <div class="spinner-container">
            <div class="spinner-rotator">
              <div class="spinner-left">
                <div class="spinner-circle"></div>
              </div>
              <div class="spinner-right">
                <div class="spinner-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- preloader end -->

    <!-- ======== header start ======== -->
    <header class="header">
      <div class="navbar-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                

                <a class="navbar-brand" href="#">
                  <img src="/images/Juant.png" alt="logo">
                </a>


                <button 
                class="navbar-toggler"
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#main" 
                aria-controls="main" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
                </button>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                <i class="fa-solid fa-bars"></i>
                </button>

                <div
                  class="collapse navbar-collapse sub-menu-bar"
                  id="navbarSupportedContent"
                >

                  <ul id="nav" class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link p-2 p-lg-3 page-scroll active" href="#home">places</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link page-scroll p-2 p-lg-3" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link page-scroll p-2 p-lg-3" href="#howToUse">How To Use</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link page-scroll p-2 p-lg-3" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                      <a href="javascript:void(0)" class="nav-link p-2 p-lg-3">Contact Us</a>
                    </li>
                    <li class="nav-item">
                      <a href="javascript:void(0) p-2 p-lg-3" class="nav-link p-2 p-lg-3">Help</a>
                    </li>
                    <a href="/admin/auth/landingpage" class="btn p-2 p-lg-3 btn-primary shadow main-btn ms-2">Become A Host</a>
                  </ul>
                </div>
                <!-- navbar collapse -->
              </nav>
              <!-- navbar -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- navbar area -->
    </header>
    <!-- ======== header end ======== -->

    <!-- ======== hero-section start ======== -->
    <section class="hero-section">
      <div class="container">
        <div class="row align-items-center position-relative">
          <div class="col-lg-6">
            <div class="hero-content">
              <h1 class="wow fadeInUp" data-wow-delay=".4s">
                Instant access to different places 
                at your fingertips
              </h1>
              <p class="wow fadeInUp" data-wow-delay=".6s">
                The choice is yours - explore different places, different categories, booking
                suitable place for your own Occasions
              </p>
              
              <div class="buttons">
                <a href="javascript:void(0)" data-wow-delay=".6s">
                  <img src="/img/hero/app_store_icon.svg" alt="">
                </a>
                <a href="javascript:void(0)" class="ms-2" data-wow-delay=".6s">
                  <img src="/img/hero/google_play_store_icon.svg" alt="">
                </a>
              </div>
              <a class="scroll-bottom"></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
              <img src="/img/about/Frame 60.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======== hero-section end ======== -->

    <!-- Start places Area -->
    <section class="our-achievement section mt-5 pt-5">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                  <div class="title">
                    <h2 class="my-auto me-auto align-items-left">
                      <span>1000+</span> Different places <br> around 
                      egypt
                    </h2>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End places Area -->
    <!-- ======== feature-section start ======== -->
    <section id="home" class="feature-section pt-120">
      <div class="container">
        <div class="row justify-content-center">
                        <div class="text-center main-title mt-5 mb-5">
                <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
                  why <span>Juant.?</span>
                </h2>
              </div>
          <div class="col-lg-3 col-md-8 col-sm-10">
            
            <div class="single-feature">
              <div class="icon">
                <img src="/img/hero/need_place.png" class="card-img-top" alt="...">
              </div>
              <div class="content">
                <h3>Need place.?</h3>
                <p>
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-10">
            <div class="single-feature">
              <div class="icon">
                <img src="/img/hero/dont_want_com.png" class="card-img-top" alt="...">
              </div>
              <div class="content">
                <h3>Don't like commit.?</h3>
                <p>
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-8 col-sm-10">
            <div class="single-feature">
              <div class="icon">
                <img src="/img/hero/decision-making-abstract.webp" class="card-img-top" alt="...">
              </div>
              <div class="content">
                <h3>A real juanter.?</h3>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore
                </p>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-8 col-sm-10">
            <div class="single-feature">
              <div class="icon">
                <img src="/img/hero/need_info.png" class="card-img-top" alt="...">
              </div>
              <div class="content">
                <h3>Need information.?</h3>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======== feature-section end ======== -->


    
    <!-- ======== services-section start ======== -->
    <section id="features" class="services-extended-section pt-100 mt-5">
      <div class="feature-extended-wrapper">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-9">
              
              <div class="main-title text-center mt-5 mb-5">
                <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
                  Every thing you need
                  <br>in <span>Juant.</span>
                </h2>
              </div>
              
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="single-feature-extended">
                <div class="icon">
                  <i class="lni lni-map"></i>
                </div>
                <div class="content">
                  <h3>Explore Places</h3>
                  <p>
                    Hate commuting? Don't stress, Juant has you covered with the different places and nearby to you. Just choose the your type of places on home or set your need and choose what suitable yo you.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature-extended">
                <div class="icon">
                  <i class="lni lni-credit-cards"></i>
                </div>
                <div class="content">
                  <h3>Payment Options</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-feature-extended">
                <div class="icon">
                  <i class="lni lni-ticket"></i>
                </div>
                <div class="content">
                  <h3>Requesting book</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======== services-section end ======== -->

    <!-- ======== about2-section start ======== -->
    <section id="howToUse" class="about-section pt-150">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="about-content">
              
              
              <div class="section-title mb-30">
                <h2 class="mb-2 wow fadeInUp" data-wow-delay=".2s">
                  How to use:                </h2>
                <p class="wow fadeInUp" data-wow-delay=".4s">
                  Save time and money! Book today in four simple steps!
                </p>
              </div>
              <div class="buttons mt-1 mb-4">
                <a href="javascript:void(0)" data-wow-delay=".6s">
                  <img src="/img/hero/app_store_icon.svg" alt="">
                </a>
                <a href="javascript:void(0)" class="ms-2" data-wow-delay=".6s">
                  <img src="/img/hero/google_play_store_icon.svg" alt="">
                </a>
              </div>
              <ul>
                <div _ngcontent-serverapp-c5="" class="content bounce-in">
                  <h6 _ngcontent-serverapp-c5="">Download</h6>
                  <p _ngcontent-serverapp-c5="">Download the app (available on the App Store and Google Play).</p>
                </div>
                <div _ngcontent-serverapp-c5="" class="content bounce-in">
                  <h6 _ngcontent-serverapp-c5="">Search</h6>
                  <p _ngcontent-serverapp-c5="">Search from hundreds of locations to work from.</p>
                </div>
                <div _ngcontent-serverapp-c5="" class="content bounce-in">
                  <h6 _ngcontent-serverapp-c5="">Choose</h6>
                  <p _ngcontent-serverapp-c5="">Choose your ideal workspace by filtering through the provided amenities.</p>
                </div>
                <div _ngcontent-serverapp-c5="" class="content bounce-in">
                  <h6 _ngcontent-serverapp-c5="">Book</h6>
                  <p _ngcontent-serverapp-c5="">Book your workspace, unleash your productivity</p>
                </div>
              </ul>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 order-first order-lg-last">
            <div class="about-img-2">
              <img src="/img/about/landing_page_for_host2.png" alt="" class="w-100" />
              <img
                src="/img/about/about-right-shape 1.svg"
                alt=""
                class="shape shape-1"
              />
              <img
                src="/img/about/right-dots 1.svg"
                alt=""
                class="shape shape-2"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======== about2-section end ======== -->

    <!--====== TEAM START ======-->

    <section id="about" class="team-area pt-120 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                  <div class="text-center main-title mt-5 mb-5">
                    <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
                      Meet Juant<span> Team</span>
                    </h2>
                  </div><!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="icon">
                        <img src="/img/hero/IMG_2515.jpeg" class="card-img-top" alt="...">
                      </div>
                        <div class="team-content">
                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="team-name"><a href="#">Yasser Farghal</a></h4>
                            <span class="sub-title">Front end developer</span>
                        </div>
                    </div> <!-- single team -->
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="icon">
                        <img src="/img/hero/IMG_2515.jpeg" class="card-img-top" alt="...">
                      </div>
                        <div class="team-content">
                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="team-name"><a href="#">Beshoy Nasry</a></h4>
                            <span class="sub-title">Back end developer</span>
                        </div>
                    </div> <!-- single team -->
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="icon">
                        <img src="/img/hero/IMG_2515.jpeg" class="card-img-top" alt="...">
                      </div>
                        <div class="team-content">
                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="team-name"><a href="#">Wafa Mohammed</a></h4>
                            <span class="sub-title">Mobile Developer</span>
                        </div>
                    </div> <!-- single team -->
                </div>

                <div class="col-lg-3 col-sm-6">
                  <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="icon">
                      <img src="/img/hero/IMG_2515.jpeg" class="card-img-top" alt="...">
                    </div>
                      <div class="team-content">
                          <div class="team-social">
                              <ul class="social">
                                  <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                  <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                  <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                  <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                              </ul>
                          </div>
                          <h4 class="team-name"><a href="#">Mareahan Reda</a></h4>
                          <span class="sub-title">Back End Developer</span>
                      </div>
                  </div> <!-- single team -->
              </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TEAM  ENDS ======-->

    <!-- Start Achievement Area -->
    <section class="call-action">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                  <div class="title mt-4 mb-4">
                    <h2 class="wow fadeInUp mb-3" data-wow-delay=".2s">Start planning & pick<br> 
                      The suitable place for your <br>
                      Date with <span>JUANT</span>
                    </h2>
                    <div class="buttons mt-3 mb-5">
                      <a href="javascript:void(0)" data-wow-delay=".6s">
                        <img src="/img/hero/app_store_icon.svg" alt="" >
                      </a>
                      <a href="javascript:void(0)" class="ms-3" data-wow-delay=".6s">
                        <img src="/img/hero/google_play_store_icon.svg" alt="" >
                      </a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Achievement Area -->

    <!-- ======== footer start ======== -->
    <footer class="footer">
      <div class="container">
        <div class="widget-wrapper">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="footer-widget">
                <div class="logo mb-30">
                  <a href="index.html">
                    <img src="/images/Juant.png" alt="" />
                  </a>
                </div>
                <p class="desc mb-30">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  dinonumy eirmod tempor invidunt.
                </p>
                <ul class="socials">
                  <li>
                    <a href="jvascript:void(0)">
                      <i class="lni lni-facebook-filled"></i>
                    </a>
                  </li>
                  <li>
                    <a href="jvascript:void(0)">
                      <i class="lni lni-twitter-filled"></i>
                    </a>
                  </li>
                  <li>
                    <a href="jvascript:void(0)">
                      <i class="lni lni-instagram-filled"></i>
                    </a>
                  </li>
                  <li>
                    <a href="jvascript:void(0)">
                      <i class="lni lni-linkedin-original"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 text-left">
              <div class="footer-widget">
                <h3 class="ms-4 mb-3">About Us</h3>
                <ul class="links">
                  <li><a href="javascript:void(0)">Home</a></li>
                  <li><a href="javascript:void(0)">Become Host</a></li>
                </ul>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="footer-widget">
                <h3 class="ms-4 mb-3">Help</h3>
                <ul class="links">
                  <li><a href="javascript:void(0)">FAQ</a></li>
                  <li><a href="javascript:void(0)">Privacy policy</a></li>
                  <li><a href="javascript:void(0)">Terms of service</a></li>
                </ul>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="footer-widget">
                <h3 class="ms-4 mb-3">Download</h3>
                <ul class="links">
                  <li class="mb-3"><a href="jvascript:void(0)"><img src="/img/hero/app_store_icon.svg" alt="" ></a></li>
                  <li><a href="jvascript:void(0)"><img src="/img/hero/google_play_store_icon.svg" alt="" ></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- ======== footer end ======== -->

    <!-- ======== scroll-top ======== -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ======== JS here ======== -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
