/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*start variables*/
:root{
    --primary-color: #9661C9;
    --background-color-of-primary-color: #F2ECF9;
    --secondary-color: #9183D8;
    --background-color-of-secondary-color:#D9CEF9 ;
    --text-color1: #21162C;
  }
  /*end variables*/




.profile .card-body .tab-content h5{
    color: var(--text-color1);
}

 .profile .card-body .tab-content .tab-pane .card{
    border: none;
}


 .profile .card-body .tab-content .tab-pane .tab-content .card{
    border: 1px solid var(--background-color-of-secondary-color);
}

 .profile .card-body .tab-content .tab-pane .tab-content .card:hover{
    border: 1.5px solid var(--primary-color);
}

.profile .filter {
    position: absolute;
    right: 0px;
    top: 15px;
  }
  
  .profile .filter .icon {
    color: var(--primary-color);
    padding-right: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 16px;
  }
  
  .profile .filter .icon:hover,
  .profile .filter .icon:focus {
    color: var(--secondary-color);
  }
  
  .profile .filter .dropdown-header {
    padding:  15px;
  }
  
  .profile .filter .dropdown-header h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--text-color1);
    margin-bottom: 0;
    padding: 0;
  }
  
  .profile .filter .dropdown-item {
    padding: 8px 15px;
  }

  .tab-content table img {
    width: 70px;
    height: 80px;
    border-radius: 15px;
}

.tab-pane table {
    table-layout: auto;
}





.tab-content #Processed table img {
    width: 70px;
    height: 80px;
}

.tab-pane #Processed table {
    table-layout: auto;
}

.tab-content #history table img {
    width: 70px;
    height: 80px;
}

.tab-pane #history table {
    table-layout: auto;
}



.dashboard .card-body .search-bar{
    min-width: 35%;
    padding: 0 0px;
  }
  
  .dashboard .card-body .search-form {
    width: 100%;
  }
  
  .dashboard .search-form input {
    border: 0;
    font-size: 14px;
    color: var(--text-color1);
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 50%;
    border-radius: 20px;
  }
  
  .dashboard .search-form input:focus,
  .dashboard .search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(55, 1, 112, 0.15);
    border: 1px solid rgba(55, 1, 112, 0.15);
  }
  
  .dashboard .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
  }
  
  .dashboard .search-form button i {
    color: var(--primary-color);
  }
  