<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Branch Request Details - JuantHost</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/branchRequestDetails.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/Juant.png" alt="">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->




      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="partners.html">
          <i class="bi bi-person"></i>
          <span>Partners</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="companies.html">
          <i class="bi bi-building"></i>
          <span>Companies</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link" href="chooseSearchBookingWay.html">
          <i class="bi bi-building-add"></i>
          <span>Branches Requests</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-box-arrow-left"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Blank Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Branch Request Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="chooseSearchBookingWay.html">Manage Requests Ways</a></li>
          <li class="breadcrumb-item"><a href="branchManagementBookings.html"></a> Management Requsets</li>
          <li class="breadcrumb-item active">Requsets Details</li>

        </ol>
      </nav>
    </div><!-- End Page Title -->



        





        <section class="section profile">
          <div class="row">
    
            <div class="col-xl-12">
    
              <div class="card">
                <div class="card-body pt-3">
                  
                  
                  <div class="back-bar text-center">
                    <a href="branchManagementBookings.html"><i class="bi bi-arrow-left-circle-fill"></i>             </a>
                  </div><!-- End Search Bar -->

                  <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                      <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#Company-overview">Company Details</button>
                      </li>
      
                      <li class="nav-item">
                        <button class="nav-link collapsed" data-bs-toggle="tab" data-bs-target="#profile-overview">Branch Details</button>
                      </li>
      
                      <li class="nav-item">
                        <button class="nav-link collapsed" data-bs-toggle="tab" data-bs-target="#services-change">Branch Services</button>
                      </li>

                      <li class="nav-item">
                        <button class="nav-link collapsed" data-bs-toggle="tab" data-bs-target="#reception-hours-change">Branch Reception Hours</button>
                      </li>

                      <li class="nav-item">
                        <button class="nav-link collapsed" data-bs-toggle="tab" data-bs-target="#Pricing-list">Branch Pricing list</button>
                      </li>
      
                    </ul>
                    <div class="tab-content pt-2">

                      <div class="tab-pane fade show active profile-overview" id="Company-overview">      

                        <div class="card-profile justify-content-center">

                        </div>


                        <div class="text-center">

                          <div class="card-body profile-card ">
                            <h5 class="card-title mb-3">Owner Picture</h5>
                            <img src="assets/img/A5C9D517-C24E-42BA-9793-914488CDDC05.jpeg" alt="">

                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-person"></i> Owner Name: <span>Yasser Farghal</span></div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-building"></i> Company Name: <span>Yasser Farghal</span></div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-bookmark"></i> Company Type: <span>Park</span></div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-buildings"></i> Company Branches: <span>8</span></div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-phone"></i> Phone: <span>01553355555</span></div>
                          </div>
        
                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-envelope"></i> Email: <span>Example@mail.com</span></div>
                          </div>

                        </div>

      
                      </div>
      
                      <div class="tab-pane fade show  profile-overview" id="profile-overview">      

                        <div class="card-profile">
                          <div class="card-body profile-card d-flex flex-column ">
                            <h5 class="card-title mb-3">Images</h5>

                            <div class="container-fluid">
                              <div class="scrolling-wrapper row flex-row flex-nowrap text-center">
                                

                                    <img src="assets/img/product-1 1.svg" alt="">



                                    <img src="assets/img/product-1 1.svg" alt="">


                                    <img src="assets/img/product-1 1.svg" alt="">


                                    <img src="assets/img/product-1 1.svg" alt="">


                                    <img src="assets/img/product-1 1.svg" alt="">


                                    <img src="assets/img/product-1 1.svg" alt="">


                                    <img src="assets/img/product-1 1.svg" alt="">


                                    <img src="assets/img/product-1 1.svg" alt="">


                                    <img src="assets/img/product-1 1.svg" alt="">


                                    <img src="assets/img/product-1 1.svg" alt="">

                                
                              </div>
                          </div>
                          </div>
                        </div>


                        <div class="justify-content-center">

                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-file-text"></i> About: <span>Amusement park with a Ferris wheel & rides for kids, plus an international food court & ice rink.</span></div>
                          </div>
  
        
                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-geo-alt"></i> Location: <a class="location" href="https://www.google.com/maps/place/ZED+TENNIS+ACADEMIES/@30.0432287,30.9944292,15z/data=!4m6!3m5!1s0x14585ba0263118cf:0xc58e189c21cc4eeb!8m2!3d30.0432287!4d30.9944292!16s%2Fg%2F11j4vlx59q?coh=164777&entry=tt"><span>Sheikh Zayed City, Giza Governorate</span></a> </div>
                          </div>
        
                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-cash"></i> Min-Budget: <span>$50.00</span></div>
                          </div>
        

                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-person-bounding-box"></i> Capacity: <span>670</span></div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-star"></i> Rate: <span>5.0</span></div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-phone"></i> Branch Phone: <span>01553355555</span></div>
                          </div>
        
                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-envelope"></i> Branch Email: <span>Example@mail.com</span></div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-upc"></i> Request ID: <span>1234654afsdgv25</span></div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-4 label "><i class="bi bi-calendar-event"></i> Request Date: <span>11/7/2023</span></div>
                          </div>



                          <p class="pe-2 fw-bold"> Request State: <span class="badge bg-info">Request</span> </p>      


                        </div>

      
                      </div>

                      <div class="tab-pane fade pt-3" id="services-change">
                        <h5 class="card-title text-center mb-3">Edit Services</h5>

                        <!-- Change Password Form -->
                        <form>
                          <div class="services d-flex justify-content-between">

                            

                              <div class="row">
                                <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                              </div>
    
                              <div class="row">
                                <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                              </div>
    
                              <div class="row">
                                <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                              </div>
    
                              <div class="row">
                                <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                              </div>
      
            
                              <div class="row">
                                <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                              </div>
            
                              <div class="row">
                                <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                              </div>
            
    
                              <div class="row">
                                <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                              </div>
    
                              <div class="row">
                                <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                              </div>
    
                              <div class="row">
                                <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                              </div>
            
                              <div class="row">
                                <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                              </div>
    
                              <div class="row">
                                <div class="col-lg-12 col-md-4 label "><i class="bi bi-check-circle text-success"></i> Example</div>
                              </div>
    

                          </div>
                          
                        </form><!-- End Change Password Form -->

                      </div>

                      <div class="tab-pane fade pt-3" id="reception-hours-change">

                        <div class="table-responsive p-0">
                          <table class="table align-items-center mb-0">
                            <thead>
                              <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Day</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">From</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Untill</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                      <h6 class="mb-0 text-sm mt-3">Sunday</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                      <h6 class="mb-0 text-sm mt-3">Monday</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                      <h6 class="mb-0 text-sm mt-3">Tuesday</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                      <h6 class="mb-0 text-sm mt-3">Wednesday</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                      <h6 class="mb-0 text-sm mt-3">Thursday</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 AM</p>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">10:00 PM</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                      <h6 class="mb-0 text-sm mt-3">Friday</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                      <h6 class="mb-0 text-sm mt-3">Saturday</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                                </td>
                                <td>
                                  <p class="text-xs font-weight-bold mb-0 mt-3">CLOSE</p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>


                      <div class="tab-pane fade pt-3" id="Pricing-list">

                        <div class="container">
                          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                              <div class="col mt-3">
                                  <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                              </div>
                              <div class="col mt-3">
                                  <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                              </div>
                              <div class="col mt-3">
                                  <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                              </div>
                              <div class="col mt-3">
                                  <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                              </div>
                              <div class="col mt-3">
                                  <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                              </div>
                              <div class="col mt-3">
                                  <img src="https://source.unsplash.com/collection/190728/1500x900" class="img-fluid" alt="image">
                              </div>
                          </div>
                      </div>

                      </div>

                      

                      
                    </div><!-- End Bordered Tabs -->
      
                  </div>

                  <div class="buttons text-center ">
                    <button  class="btn p-2 p-lg-3 btn-primary me-auto" type="submit" id="submit">ACCEPT</button>
                    <button  class="button2 btn p-2 p-lg-3 btn-primary main-btn" type="submit" id="submit">REJECT</button>
                </div>
                </div>


              </div>
            </div>
          </div>
        </section>

























  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Juant</span></strong>. All Rights Reserved
    </div>
    <div class="credits">

      Designed by <a href="">Juant</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>
    var imgUpload = document.getElementById('upload-img')
  , imgPreview = document.getElementById('img-preview')
  , imgUploadForm = document.getElementById('form-upload')
  , totalFiles
  , previewTitle
  , previewTitleText
  , img;

imgUpload.addEventListener('change', previewImgs, true);

function previewImgs(event) {
  totalFiles = imgUpload.files.length;
  
     if(!!totalFiles) {
    imgPreview.classList.remove('img-thumbs-hidden');
  }
  
  for(var i = 0; i < totalFiles; i++) {
    wrapper = document.createElement('div');
    wrapper.classList.add('wrapper-thumb');
    removeBtn = document.createElement("span");
    nodeRemove= document.createTextNode('x');
    removeBtn.classList.add('remove-btn');
    removeBtn.appendChild(nodeRemove);
    img = document.createElement('img');
    img.src = URL.createObjectURL(event.target.files[i]);
    img.classList.add('img-preview-thumb');
    wrapper.appendChild(img);
    wrapper.appendChild(removeBtn);
    imgPreview.appendChild(wrapper);
   
    $('.remove-btn').click(function(){
      $(this).parent('.wrapper-thumb').remove();
    });    

  }
  
  
}
  </script>

<script>
  function Sunday() {
    // Get the checkbox
    var checkBox = document.getElementById("inlinedateCheckbox1");
    // Get the output text
    var date = document.getElementById("time1");
    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
      date.style.display = "block";
    } else {
      date.style.display = "none";
    }
  }

  function Monday() {
    // Get the checkbox
    var checkBox = document.getElementById("inlinedateCheckbox2");
    // Get the output text
    var date = document.getElementById("time2");
    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
      date.style.display = "block";
    } else {
      date.style.display = "none";
    }
  }

  function thuesday() {
    // Get the checkbox
    var checkBox = document.getElementById("inlinedateCheckbox3");
    // Get the output text
    var date = document.getElementById("time3");
    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
      date.style.display = "block";
    } else {
      date.style.display = "none";
    }
  }

  function whensday() {
    // Get the checkbox
    var checkBox = document.getElementById("inlinedateCheckbox4");
    // Get the output text
    var date = document.getElementById("time4");
    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
      date.style.display = "block";
    } else {
      date.style.display = "none";
    }
  }

  function thursday() {
    // Get the checkbox
    var checkBox = document.getElementById("inlinedateCheckbox5");
    // Get the output text
    var date = document.getElementById("time5");
    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
      date.style.display = "block";
    } else {
      date.style.display = "none";
    }
  }

  function Friday() {
    // Get the checkbox
    var checkBox = document.getElementById("inlinedateCheckbox6");
    // Get the output text
    var date = document.getElementById("time6");
    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
      date.style.display = "block";
    } else {
      date.style.display = "none";
    }
  }

  function Satrday() {
    // Get the checkbox
    var checkBox = document.getElementById("inlinedateCheckbox7");
    // Get the output text
    var date = document.getElementById("time7");
    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
      date.style.display = "block";
    } else {
      date.style.display = "none";
    }
  }
</script>

</body>

</html>