<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Management Places - JuantHost</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/companyDetails.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/Juant.png" alt="">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->




      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->


  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="partners.html">
          <i class="bi bi-person"></i>
          <span>Partners</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link" href="companies.html">
          <i class="bi bi-building"></i>
          <span>Companies</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="chooseSearchBookingWay.html">
          <i class="bi bi-building-add"></i>
          <span>Branches Requests</span>
        </a>
      </li><!-- End Contact Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-box-arrow-left"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Blank Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Juant Company</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="partners.html"></a> Partners</li>
          <li class="breadcrumb-item active">Partner Details</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section places">
      <div class="row">

        





        <section class="section profile">
          <div class="row">
    
            <div class="col-xl-12">
    
              <div class="card">
                <div class="card-body pt-3">
                  
                  
                    <div class="back-bar text-center">
                        <a href="partners.html"><i class="bi bi-arrow-left-circle-fill"></i>                   
                        </a>
                      </div><!-- End Search Bar -->


                  <div class="tab-content pt-2">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">



                <div class="add-places">
                    <div class="card-body">
                        <div class="col-lg-12 justify-content-center">
                            <div class="row">
                              <h5 class="card-title text-center">Partner Details</h5>
                  
                  
                              <div class="col-lg-6 mb-3">
                                  <div class="row">
                                      <!-- Single Price Plan Area-->
                                      <div class="mt-4 text-center">
                                          <div class="card-ad text-center">
                                          <div class="single_price_plan active wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <!-- Side Shape-->
                  
                                            <div class="card-icon text-center">
                                              <img src="assets/img/A5C9D517-C24E-42BA-9793-914488CDDC05.jpeg" alt="">
                                            </div>
                                            <div class="title pb-2 pt-2">
                                              <h3>Yasser Farghal</h3>
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              </div>
                  
                  
                              <div class="col-lg-6 mt-2">
                                  <div class="row">
                                          <div class="news">
                                            <div class="row g-2">
                
                            
                                              <div class="row mt-3">
                                                <div class="col-lg-4 col-md-4 label"><i class="bi bi-building"></i> Company Name</div>
                                                <div class="col-lg-8 col-md-8">Juant</div>
                                              </div>
                            
                                              <div class="row">
                                                <div class="col-lg-4 col-md-4 label"><i class="bi bi-bookmark"></i> Company Type</div>
                                                <div class="col-lg-8 col-md-8">Park</div>
                                              </div>

                                              <div class="row">
                                                <div class="col-lg-4 col-md-4 label"><i class="bi bi-buildings"></i> Branches</div>
                                                <div class="col-lg-8 col-md-8">6</div>
                                              </div>
                  
                                              <div class="row">
                                                <div class="col-lg-4 col-md-4 label"><i class="bi bi-telephone"></i> Phone</div>
                                                <div class="col-lg-8 col-md-8">+201553355475</div>
                                              </div>
                            
                                              <div class="row">
                                                <div class="col-lg-4 col-md-4 label"><i class="bi bi-envelope"></i> Email</div>
                                                <div class="col-lg-8 col-md-8">example@mail.com</div>
                                              </div>
                            
                            
                            
                                          </div><!-- End sidebar recent posts-->
                            
                                        </div>
                                  </div>
                              </div>
                              
                        </div>
                      </div>
                    </div>
                  </div>
      


                  <h5 class="card-title text-center">Activated Branches</h5>





            
            <!-- place Card -->
            <div class="col-xxl-4 col-md-4 my-4">
                <div class="card info-card sales-card">
  
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li><a class="dropdown-item" href="Branch-Detils.html">See Details</a></li>
                      <li><a class="dropdown-item" href="edit-places.html">Delete</a></li>
                    </ul>
                  </div>
  
                  <div class="card-body my-4 pb-1 text-center align-items-center">
                    <div class="card-icon d-flex align-items-center justify-content-center">
                      <img src="assets/img/product-1 1.svg" alt="">
                    </div>
                    
                    <p class="pt-4">Amusement park with a Ferris wheel & rides for kids, plus an international food court & ice rink.</p>
  
                      <div class="pt-2 pb-2">
                        <span class="small pt-1 fw-bold bi bi-geo-alt"></span> <span class="text-muted small pt-1 ps-1">Giza, Zamalek</span>
                      </div>
                      <span class="small pt-1 fw-bold bi bi-upc"></span> <span class="text-muted small pt-1 ps-1">ID: 1234654afsdgv25</span>

                  </div>
  
                </div>
              </div><!-- End place Card -->

            <!-- place Card -->
            <div class="col-xxl-4 col-md-4 my-4">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li><a class="dropdown-item" href="Branch-Detils.html">See Details</a></li>
                    <li><a class="dropdown-item" href="edit-places.html">Delete</a></li>
                  </ul>
                </div>

                <div class="card-body my-4 pb-1 text-center align-items-center">
                  <div class="card-icon d-flex align-items-center justify-content-center">
                    <img src="assets/img/product-1 1.svg" alt="">
                  </div>
                  
                  <p class="pt-4">Amusement park with a Ferris wheel & rides for kids, plus an international food court & ice rink.</p>

                    <div class="pt-2 pb-2">
                      <span class="small pt-1 fw-bold bi bi-geo-alt"></span> <span class="text-muted small pt-1 ps-1">Giza, Zamalek</span>
                    </div>
                    <span class="small pt-1 fw-bold bi bi-upc"></span> <span class="text-muted small pt-1 ps-1">ID: 1234654afsdgv25</span>

                </div>

              </div>
            </div><!-- End place Card -->

            <!-- place Card -->
            <div class="col-xxl-4 col-md-4 my-4">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li><a class="dropdown-item" href="Branch-Detils.html">See Details</a></li>
                    <li><a class="dropdown-item" href="edit-places.html">Delete</a></li>
                  </ul>
                </div>

                <div class="card-body my-4 pb-1 text-center align-items-center">
                  <div class="card-icon d-flex align-items-center justify-content-center">
                    <img src="assets/img/product-1 1.svg" alt="">
                  </div>
                  
                  <p class="pt-4">Amusement park with a Ferris wheel & rides for kids, plus an international food court & ice rink.</p>

                    <div class="pt-2 pb-2">
                      <span class="small pt-1 fw-bold bi bi-geo-alt"></span> <span class="text-muted small pt-1 ps-1">Giza, Zamalek</span>
                    </div>
                    <span class="small pt-1 fw-bold bi bi-upc"></span> <span class="text-muted small pt-1 ps-1">ID: 1234654afsdgv25</span>

                </div>

              </div>
            </div><!-- End place Card -->

            <!-- place Card -->
            <div class="col-xxl-4 col-md-4 my-4">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li><a class="dropdown-item" href="Branch-Detils.html">See Details</a></li>
                    <li><a class="dropdown-item" href="edit-places.html">Delete</a></li>
                  </ul>
                </div>

                <div class="card-body my-4 pb-1 text-center align-items-center">
                  <div class="card-icon d-flex align-items-center justify-content-center">
                    <img src="assets/img/product-1 1.svg" alt="">
                  </div>
                  
                  <p class="pt-4">Amusement park with a Ferris wheel & rides for kids, plus an international food court & ice rink.</p>

                    <div class="pt-2 pb-2">
                      <span class="small pt-1 fw-bold bi bi-geo-alt"></span> <span class="text-muted small pt-1 ps-1">Giza, Zamalek</span>
                    </div>
                    <span class="small pt-1 fw-bold bi bi-upc"></span> <span class="text-muted small pt-1 ps-1">ID: 1234654afsdgv25</span>

                </div>

              </div>
            </div><!-- End place Card -->

            <!-- place Card -->
            <div class="col-xxl-4 col-md-4 my-4">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li><a class="dropdown-item" href="Branch-Detils.html">See Details</a></li>
                    <li><a class="dropdown-item" href="edit-places.html">Delete</a></li>
                  </ul>
                </div>

                <div class="card-body my-4 pb-1 text-center align-items-center">
                  <div class="card-icon d-flex align-items-center justify-content-center">
                    <img src="assets/img/product-1 1.svg" alt="">
                  </div>
                  
                  <p class="pt-4">Amusement park with a Ferris wheel & rides for kids, plus an international food court & ice rink.</p>

                    <div class="pt-2 pb-2">
                      <span class="small pt-1 fw-bold bi bi-geo-alt"></span> <span class="text-muted small pt-1 ps-1">Giza, Zamalek</span>
                    </div>
                    <span class="small pt-1 fw-bold bi bi-upc"></span> <span class="text-muted small pt-1 ps-1">ID: 1234654afsdgv25</span>

                </div>

              </div>
            </div><!-- End place Card -->

            <!-- place Card -->
            <div class="col-xxl-4 col-md-4 my-4">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li><a class="dropdown-item" href="Branch-Detils.html">See Details</a></li>
                    <li><a class="dropdown-item" href="edit-places.html">Delete</a></li>
                  </ul>
                </div>

                <div class="card-body my-4 pb-1 text-center align-items-center">
                  <div class="card-icon d-flex align-items-center justify-content-center">
                    <img src="assets/img/product-1 1.svg" alt="">
                  </div>
                  
                  <p class="pt-4">Amusement park with a Ferris wheel & rides for kids, plus an international food court & ice rink.</p>

                    <div class="pt-2 pb-2">
                      <span class="small pt-1 fw-bold bi bi-geo-alt"></span> <span class="text-muted small pt-1 ps-1">Giza, Zamalek</span>
                    </div>
                    <span class="small pt-1 fw-bold bi bi-upc"></span> <span class="text-muted small pt-1 ps-1">ID: 1234654afsdgv25</span>

                </div>

              </div>
            </div><!-- End place Card -->

                        

          </div>
        </div><!-- End Left side columns -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
























      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Juant</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="">Juant</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>