
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/manager/home">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a id="Request" class="nav-link collapsed" href="/admin/manager/managerRequest">
          <i class="bi bi-building"></i>
          <span>Request</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/manager/managerFeedBacks">
          <i class="bi bi-person"></i>
          <span>FeedBacks</span>
        </a>
      </li><!-- End Profile Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/auth/logout">
          <i class="bi bi-box-arrow-left"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Blank Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  