
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <% if (!owner.isAdmin) {%>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      
      <%}%> 
      <!-- End Dashboard Nav -->

      <% if (owner.isAdmin) {%>
      
        
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      
        <%}%>


      <% if (owner.isAdmin) {%>
      
        <li class="nav-item">
          <a class="nav-link collapsed" href="/admin/auth/partners">
            <i class="bi bi-person"></i>
            <span>Partners</span>
          </a>
        </li><!-- End Profile Page Nav -->
      
        <%}%>
        <!-- ---------------------------------- -->
        
        <% if (owner.isAdmin) {%>
        
          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/auth/companies">
              <i class="bi bi-building"></i>
              <span>Companies</span>
            </a>
          </li>
        
          <%}%>

          <!-- ---------------------------------- -->
        <!-- <% if (owner.isAdmin) {%>
          
          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/auth/ownerbookings">
              <i class="bi bi-building-add"></i>
              <span>Branches Requests</span>
            </a>
          </li> 
        
          <%}%> -->



        <% if (!owner.isAdmin) {%>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/auth/profile">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

      <%}%>
      
      <!-- End Profile Page Nav -->


      <!-- <% if (!owner.isAdmin) {%>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/bookings/manage-bookings">
          <i class="bi bi-ticket"></i>
          <span>Bookings</span>
        </a>
      </li>
      <%}%> -->


            
      <!-- End Contact Page Nav -->
     
      <% if (!owner.isAdmin) {%>
        <li class="nav-item">
          <a class="nav-link collapsed" href="/admin/manager">
            <i class="bi bi-person-badge"></i>
            <span>Manager</span>
          </a>
        </li>
        
     <%}%>
     
        <!-- End Contact Page Nav -->
      
      <!-- End F.A.Q Page Nav -->


      <% if (!owner.isAdmin) {%>
        <li class="nav-item">
          <a class="nav-link collapsed" href="/admin/places/owner-places">
            <i class="bi bi-building"></i>
            <span>Branches</span>
          </a>
        </li>
        <%}%>
      
      
      <!-- End Contact Page Nav -->
     
      <% if (!owner.isAdmin) {%>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/auth/pages-contact">
          <i class="bi bi-telephone"></i>
          <span>Contact Us</span>
        </a>
      </li>
      
   <%}%>
    <!-- End request Page Nav -->

      <% if (!owner.isAdmin) {%>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/auth/request">
          <i class="bi bi-building-add"></i>
          <span>Request</span>
        </a>
      </li>
      
   <%}%>

      <!-- End Contact Page Nav -->



      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/auth/logout">
          <i class="bi bi-box-arrow-left"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Blank Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->
